/* Utils */

.co { position: absolute; height: 100%; width: 100%; left: 0; top: 0; }
.bg { background-position: center; background-size: cover; }

.rh { display: block; }
.rs { display: none; }

.s { width: 100%; height: 100px; }
.s1 { width: 100%; height: 100px; }
.s2 { display: none; width: 100%; height: 100px; }

/* Corrections */

.clear {
    clear: both;
}

iframe {
    border: none;
}

/* Wordpress */

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 75px;
    padding: 0 20px;
    border-bottom: 3px solid #ECEFF1;
    background-color: #FFFFFF;
}

.admin-bar #header {
    top: 32px;
}

#header .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
}

.menu-item a:hover, .menu-item a:focus {
    color: #337ab7;
    text-decoration: none;
}

main {
    margin-top: 77px;
    padding-top: 20px;
}

#footer {
    display: flex;
    justify-content: center;
    background-color: #ECEFF1;
    padding: 50px;
    margin-top: 100px;
}

#footer .wrap {
    width: 1140px;
}

/* Blocks */

.c1 { width: 100%; }
.c2 { width: 50%; }
.c3 { width: 33%; }
.c2_3 { width: 66%; }
.c4 { width: 25%; }
.c3_4 { width: 75%; }

/* Flex */

.f {
    display: flex;
}

.f1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.f2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.f3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 33%;
}

.f2_3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 66%;
}

.f4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.f3_4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 75%;
}

.ff {
    display: flex;
    flex-wrap: wrap;
}

/* Buttons */

.action {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

button, input[type='submit'] {
    border: none;
    cursor: pointer;
}

.action, button, input[type='submit'] {
    box-sizing: border-box;
    min-width: 80px;
    height: 30px;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #1565C0;
    color: #FFFFFF;
    transition-duration: 400ms;
}

.action:hover, button:hover, input[type='submit']:hover {
    background-color: #2196F3;
    text-decoration: none;
    color: #FFFFFF;
}

.action:focus, button:focus, input[type='submit']:focus {
    text-decoration: none;
    color: #FFFFFF;
}

.alert {
    margin-bottom: 0;
    background-color: #F44336;
}

.alert:hover {
    background-color: #D32F2F;
}

.success {
    background-color: #8BC34A;
}

.success:hover {
    background-color: #689F38;
}

.right {
    margin-right: 1px;
}

/* Forms */

input:focus, textarea:focus, button:focus {
    outline: none;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
}

label div {
    font-weight: 700;
}

input[type='text'], input[type='email'], input[type='password'] {
    display: block;
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 2px solid #212121;
}

textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    padding: 10px;
    border: none;
    margin-bottom: -3px;
    background-color: #ECEFF1;
}

/* Bootstrap */

h1, h2 {
    font-weight: 700;
}

/* Contact form 7 */

span.wpcf7-not-valid-tip {
    color: #F44336;
}

div.wpcf7-response-output {
    padding: 10px 20px;
    margin: 0;
    margin-top: 20px;
    color: #FFFFFF;
}

div.wpcf7-validation-errors {
    border: none;
    background-color: #FFEB3B;
    color: #000000;
}

div.wpcf7-mail-sent-ng {
    border: none;
    background-color: #F44336;
}

/* Responsive */

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (min-width: 768px) {
    .menu {
        display: flex;
        padding: 0;
        margin: 0;
    }

    .menu > .menu-item {
        display: block;
    }

    .menu > .menu-item > a {
        display: flex;
        align-items: center;
        height: 75px;
        padding: 0 10px;
    }

    .menu > .menu-item:hover {
        background-color: #ECEFF1;
    }

    .menu-item a:hover, .menu-item a:focus {
        text-decoration: none;
    }

    .sub-menu {
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        padding: 20px;
        visibility: hidden;
        background-color: #ECEFF1;
        /*transition-duration: 400ms;*/
    }

    .menu-item:hover .sub-menu {
        visibility: visible;
    }

    .sub-menu .menu-item {
        display: block;
        padding: 10px 0;
        width: 300px;
    }

    .sub-menu .menu-item:not(:last-child) {
        border-bottom: 1px solid #212121;
    }
}

@media (max-width: 768px) {
    .c2, .c3, .c2_3, .c4, .c3_4 { width: 100%; }

    .f2, .f3, .f2_3, .f4, .f3_4 { width: 100%; }

    .rh { display: none; }
    .rs { display: block; }

    .s1 { display: none; }
    .s2 { display: block; }

    /* Wordpress */

    .admin-bar #header {
        top: 46px;
    }

    .menu {
        padding: 0;
        margin: 0;
    }

    .menu-item {
        display: block;
        margin: 5px 0;
    }

    .sub-menu {
        padding-left: 20px;
    }

    #open, #back {
        cursor: pointer;
    }

    #open {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        width: 30px;
        height: 40px;
    }

    #open div {
        width: 100%;
        height: 2px;
        margin: 3px 0;
        background-color: #212121;
    }

    #side {
        position: fixed;
        left: -100%;
        top: 0;
        bottom: 0;
        width: 100%;
        padding: 20px;
        background-color: #FFFFFF;
        z-index: 2;
    }

    .admin-bar #side {
        top: 46px;
    }

    #side .menu {
        display: block;
    }

    #side .menu-item {
        margin-bottom: 10px;
    }

    #close {
        position: absolute;
        right: 20px;
        top: 25px;
        color: #41AAAA;
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {

}

@media (orientation: portrait) {

}